{% block content %}

<head>
    <link rel="stylesheet"  href="../static/css/hero.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Horizontal Card</title>
   
</head>
<body>
  <div class="hero">
    <div class="bg">
      <div class="hero-bg-bg"></div>
      <img class="hero-bg" src="../static/img/semedo 1.png" alt="Background"  />
    </div>
    <div class="hero container">
      <div class="hero-dk">
        <div class="row mt-4">
          <div class="col-md-10">
            <div class="d-flex heroku">
              <div class="heroDesc">
                <h1 class="mb-4 hero-title" data-aos="fade-up" data-aos-duration="1000">
                  Temukan Informasi <br /> Dengan Mudah, <br> Melalui Virtual Assistant
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="row reserv">
          <div class="card-reserv" style="width: 29rem; height: 11rem;">
            <div class="card-body">
              <h2 class="card-title">Reservasi Kunjungan</h2>
              <p class="card-text">Buka Setiap Kamis-Minggu 09.00-12.00 <br>Museum Semedo tutup pada hari libur nasional</p>
              <p class="card-text"></p>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSeXoNXXH5cBBq4oqi2AjjIrnfEDiE5VsK6sv_zSYFvkpPzMdA/viewform"" class="butn">
                <b-button class="btn-reserv btn btn-md btn-success mr-5" data-aos-duration="1000" data-aos-delay="100">
                  Mulai Sekarang
                </b-button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-mb">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="d-flex align-items-center mb-3">
              <div class="heroDesc">
                <h2 class="mb-3 title" style="color:#fff" data-aos="fade-up" data-aos-duration="1000">
                  Temukan Informasi <br /> Dengan Mudah, <br> Melalui Virtual Assistant
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row reserv">
          <div class="card-reserv" >
            <div class="card-body">
              <h2 class="card-title">Reservasi Kunjungan</h2>
              <p class="card-text">Buka Setiap Kamis-Minggu 09.00-12.00 <br>Museum Semedo tutup pada hari libur nasional</p>
              <p class="card-text"></p>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSeXoNXXH5cBBq4oqi2AjjIrnfEDiE5VsK6sv_zSYFvkpPzMdA/viewform"" class="butn">
                <b-button class="btn-reserv btn btn-md btn-success " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                  Mulai Sekarang
                </b-button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}