<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://md-aqil.github.io/images/swiper.min.css">
  <link rel="stylesheet" href="/static/css/koleksi.css">
  <link rel="stylesheet" href="./tes/index.js">
    <title>Document</title>
</head>
<body>
<div data-aos="fade-up" class="container">
  <div class="judul mt-5"> </div>
  <div class="card-carousel">
    <div class="card" id="1">
      <div class="image-container" style=" background-image: url(/static/img/kapak.jpg);">
      </div>
      <h2>Kapak Penetak <br>(Chooping Tool)</h2>
      <p>Merupakan Kapak yang digunakan untuk menumbuk biji-bijian</p>
      <a href="/koleksi1">
        <button  type="button" class="btn btn-success" >
          Linat Selengkapnya</button> 
       </a> 
    </div>
    <div class="card" id="2">
      <div class="image-container" style=" background-image: url(/static/img/kepala.jpg);">
      </div>
      <h2>Genus sapi dan banteng <br>(Bos sp)</h2>
      <p>fosil ini ditemukan di kalenkawi, Semedo 4 mei 2014</p>
      <a href="/koleksi1">
        <button  type="button" class="btn btn-success" >
          Linat Selengkapnya</button>  </a> 
    </div>
    <div class="card" id="3">
      <div class="image-container" style=" background-image: url(/static/img/gajah.jpg);"></div>
      <h2>Para Moyang Gajah Sumatera</h2>
      <p>Beberapa fosil-fosil dari nenek moyang gajah yang ada di semedo</p>
      <a href="/koleksi1">
        <button  type="button" class="btn btn-success" >
          Linat Selengkapnya</button>  </a> 
    </div>  
    <div class="card" id="4">
      <div class="image-container" style=" background-image: url(/static/img/tengkorak.jpg);">
        
      </div>
      <h2>Replika tengkorak <br> Homo erectus</h2>
      <p>Fragmen tengkorak ini merupakan bagian parietal dari H erectus Semedo</p>
      <a href="/koleksi1">
        <button  type="button" class="btn btn-success" >
          Linat Selengkapnya</button>   </a> 
    </div>
    <div class="card" id="5">
      <div class="image-container"style=" background-image: url(/static/img/tengkorak.jpg);"></div>
      <h2>Replika tengkorak <br> Homo erectus</h2>
      <p>Fragmen tengkorak ini merupakan bagian parietal dari H erectus Semedo</p>
      <a href="/koleksi1">
        <button  type="button" class="btn btn-success" >
          Linat Selengkapnya</button>  </a> 
    </div>
  </div>
  <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
</div>
   
  <script src="/static/js/koleksi.js"></script>
</body>
</html>
